h2 {
    font-family: Quantico;

}

p {
    font-family: Helvetica Neue;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

/* NAV BAR */

#nav {
    padding: .5em;
    font-family: Quantico;
    background-color: black;
}

nav .navbar-nav li a{
    color: #E5D854 !important;
}

/* HERO IMAGE BANNER */
.btn {
    margin-left: 21em;
    margin-top: -12em;
    font-family: Quantico;
    background-color: #E5D854;
}

/* WELCOME */
.welcome img {
    border-radius: 500px;
}


