/* NAV */
#nav {
    padding: 1em;
    font-family: Product Sans;
}

.navbar-brand img{
    width: 200px;
    height: 150px;
}

/* H SETTINGS */
h1 {
    font-family: EightiesComeback;
    font-size: 100px;
}


#merchHead {
    font-family: EightiesComeback;
    color:#b76979;
    font-size: 45px;
}

h3 {
    font-family: EightiesComeback; 
}

h4 {
    font-family: EightiesComeback Medium Condensed;
    letter-spacing: 7px;
}

h5 {
    font-family: Product Sans;
}

/* INDEX.HTML */

/* HERO */
.banner {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #e995a5;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.banner-text {
    text-align: center;
    color: #e995a5;
    margin-top: 6em;
    background: rgba(255, 255, 255, .8); 
}

/* MERCH */
.merch {    
    padding: 3em;
    display: flex;
    justify-content: center;
}

.merch-copy {
    width: 26em;
}

.btn {
    background-color: #b76979;
    color: white;
    border: none;
    
}

.carousel {
    margin-left: 5em;
    width: 400px;
    height: 200px;
    grid-column-start: 2;
    margin-top: 1em;
}

/* START DELIGHT */
.startDelight {
    background-color: #b76979;
    margin-top: 5em;
    padding: 20px;
}

#sdHead {
    color: white;
    text-align: center;
    font-size: 75px;
}

#sdBody {
    color: white;
    text-align: center;
    font-size: 30px;
}

.sdImg {
    display: block;
    width: 530px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* LEADERS.HTML */

.banner-lead {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: url(group.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    margin-left: 9em;
    margin-top: 5em;
}

#meet {
    font-family: Product Sans;
    text-align: center;
    margin-top: 1em;
}

/* GREATERTHAN.HTML */

.banner-gt {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e995a5;
    background-image: url(clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sub-gt {
    font-family: Product Sans;
    text-align: center;
    margin-top: 1em;
}

.what-gt {
    display: grid;
    margin-top: 3em;
    margin-right: 3em;
    margin-left: 3em;
}

.what-img {
    width: 500px;
    height: 400px;
    margin-right: 2em;
    grid-column-start: 1;
    grid-row-start: 1;
}

.what-text {
    display: grid;
    grid-column-start: 2;
    width: 30em;
    margin-right: 30em;
}

#what-head {
    font-size: 60px;
    color: #e995a5;
}

#what-copy {
    grid-row-start: 2;
}

.btn {
    width: 40%;
}

.sneakpeak {
    margin-top: 3em;
    display: grid;
    flex-direction: column;
    height: 420px;
    background-color: #e995a5;
    background-image: url(clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.sneak-copy {
    padding: 20px;
    background: rgba(255, 255, 255, .6);
    color:#b76979;
    margin-top: 3em;
    width: 48em;
    height: 19em;   
}

/* JOIN.HTML */
.banner-join {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e995a5;
    background-image: url(joinbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text-join {
    text-align: center;
    color: white;
    margin-top: 6em; 
}

.social-buttons {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#ig {
    display: grid;
    grid-column-start: 1;
}

#gm {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
}

.mb-3 {
    padding: 30px;
}

#contact-head {
    margin-left: 30px;
    margin-top: 3em;
}

#sub {
    margin-left: 30px;    
}

/* ABOUT.HTML */

.banner-about {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e995a5;
    background-image: url(aboutbanner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text-about {
    margin-top: 9em;
    color: white;
}

#about-head {
    text-align: center;
    font-size: 60px;

}

#sub-about {
    text-align: center;
    font-family: Product Sans;
    
}

.about-what {
    margin-top: 1em;
    display: flex;
    padding: 30px;
    justify-content: center;

}

#welc {
    font-size: 48px;
    color:#b76979;
}

.delight-copy {
    width: 30em;
}

.kickoff {
    width: 400px;
    height: 300px;
    float: right;
    margin-left: 2em;
}

.mission {
    padding: 30px;
    background-color: #b76979;
    color: white;
    margin-top: 2em;
    display: flex;
}

.mission-copy {
    padding: 20px;
}

#mission-sub {
    font-family: Product Sans;
    letter-spacing: 0px;
    font-size: 30px;
}

.mission-img {
    width: 500px;
    height: 300px;
    margin-right: 20px;
    margin-top: 2em;
}
